{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{# {% use 'bootstrap_4_layout.html.twig' %} #}

{% block body %}
    {{form(form)}}

    <div class="container"> 
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{message}}
    </div>
    {% endfor %}
    </div>
{% endblock %}

