{% extends 'base.html.twig' %}

{# {% use 'bootstrap_4_layout.html.twig' %} #}
{# title user #}
{% block body %}
{# <form action="{{path('insert')}}"method="post"> #}
{{ form(form) }}
{# <input type="submit" name="submit" class="btn btn-primary"> #}
{# </form> #}
{# {{title}} #}
{# {{file}} #}
{% endblock %}
